@charset "UTF-8";

.container {
	margin-top: 10%;
	margin-bottom: 10%;
	
}

 .contentMargin {
 	margin-left:10%; 
 	margin-right:10%;
 	margin-top:10%;
 	margin-bottom:10%;
 }
 .titleAlign {
 	text-align : center;
 }
 .tableAlign {
	text-align : center;
}

.titleInterval {
	margin-top: 5%;
	margin-bottom:5%;
	
}

.chartButtonInterval {
	margin-left: 0%; 
	margin-top: 7%;
}

.tableFontSize {
	font-size: 20px;

}