#my-tab .nav-link {
    font-size: 18px;
    color: rgba(0,0,0,0.56);
}
#my-tab .nav-link.active {
    font-weight: bold;
    color: rgb(230,28,81);
}
.article-title {
    width: 100%;
    font-size: 48px;
    color: #444;
}

.article-title span {
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
}

.point-show {
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: none;
    color: rgba(0,0,0,0.87);
    text-align: left;
}

.point-show span {
    display: inline-block;
    margin-right: 16px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.point-show strong {
    display: inline;
    font-size: 18px;
    color: rgb(230,28,81);
}

.point-list-none {
    height: 373px;
    padding-top: 125px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}