@charset "UTF-8";

section {margin-top: 50px;}

.search-area {
	margin-top: 0;
    background: #e2a4ff;
    height: 500px;
    width: 100%;
}
.search-panel {
    position: relative;
    width: 1180px;
    height: 500px;
    margin: 0 auto;
}
.search-panel .search-option {
    position: absolute;
    bottom: 92px;
    left: 0;
}
.search-panel .option-list {
    box-shadow: 0 2px 13px rgba(0,0,0,.13);
    background-color: #fff;
    margin-right: 220px;
    z-index: 1;
    position: relative;
    height: 120px;
}
.search-panel .option-item {
    position: relative;
    float: left;
    width: 300px;
    text-align: center;
}
.search-panel .option-title {display: inline-block;}
.search-panel .option-item.item-option-calendar {width: 360px;}
.search-panel .option-item.item-option-calendar .option-title {width: 50%;}
.search-panel .option-btn {
    color: #222;
    position: relative;
    width: 100%;
    padding: 24px 0 30px;
    min-height: 84px;
}
.search-panel .btn-search-stay {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 215px;
    height: 120px;
}
.search-paragraph span {font-weight: 700;}
.search-paragraph {
    padding-top: 90px;
    font-size: 60px;
    color: #fff;
    line-height: 66px;
}
.option-title-wrap {padding-top: 17px;}

.f-left {float: left;}
.f-right {float: right;}

.color-gradation {
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ff6f6f), color-stop(100%, #6991ff));
    color: white;
}
.color-gradation:hover {
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff8888),color-stop(100%,#93b0ff));
}

.myposition-cnt {
    font-size: 18px;
    text-align: center;
}
.quicklink-list {text-align: center;}
.quicklink-item {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 15px;
}
.left-item-bar, .right-item-bar {
    background-color: #e5e5e5;
    position: absolute;
    top: 10px;
    width: 1px;
    height: 100px;
    display: block;
}
.left-item-bar {left: 0;}
.right-item-bar {right: 0;}