.card {
	color: black;
}
.card:hover {
	color: #d338ff;
	background-color: #F5F5F5;
}
.card-title {
	margin: 0;
	padding: 30px 0;
}
.form-signin {
	width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
.form-signin .form-control {
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	height: auto;
	font-size: 18px;
}
.form-signin input[type="text"],
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 14px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-signin .btn-block+.btn-block {
	margin-top: 0;
} 
.pw-check{
	margin-left : 90px;
}