<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<!-- 전체 조회 -->
	<select id="getUsers" resultType="user" parameterType="userSearch">
		SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
		SELECT * FROM USERS
		<where>
			<if test="ids != null">
				ID IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'id'">
				AND ID LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'name'">
				AND NAME LIKE '%' || #{searchKeyword} || '%'		
			</if>
			<if test="role != null and role != ''">
				AND ROLE = #{role}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="sort != null and sort != ''">
				#{sort}
			</when>
			<otherwise>
				ID
			</otherwise>
		</choose>
	) U ) A WHERE RN BETWEEN #{start} and #{end}
	</select>
	
<!-- 관리자 회원 검색 -->	
<select id="getAdminMember" resultType="member" parameterType="adminSearch">
SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
	SELECT * FROM MEMBER
	<where>
		<choose>
			<when test="searchCondition == 'nick'">
				member_nick = #{searchKeyword} 
			</when>
			<when test="searchCondition == 'name'">
				member_name = #{searchKeyword} 
			</when>
		</choose>
	</where>			
) U ) A WHERE RN BETWEEN #{start} and #{end}a
</select> 

<!-- 관리자 숙박업주 검색 -->	
<!-- <select id="getAdminHost" resultType="host" parameterType="adminSearch">
SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
	SELECT * FROM LODGMENT
	<where>
		<choose>
			<when test="searchCondition == 'email'">
				host_email = #{searchKeyword} 
			</when>
			<when test="searchCondition == 'id'">
				host_id = #{searchKeyword} 
			</when>
			<otherwise>
				business_no = #{searchKeyword}
			</otherwise>
		</choose>
	</where>			
) U ) A WHERE RN BETWEEN #{start} and #{end}a
</select> -->

<select id="getAdminLodgment" resultType="host" parameterType="adminSearch">
SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
	SELECT * FROM LODGMENT
	<where>
		<choose>
			<when test="searchCondition == 'company'">
				company = #{searchKeyword} 
			</when>
			<when test="searchCondition == 'location'">
				location = #{searchKeyword} 
			</when>
			<when test="searchCondition == 'state'">
				lodgment_state = #{searchKeyword} 
			</when>
			<otherwise>
				lodgment_type = #{searchKeyword}
			</otherwise>
		</choose>
	</where>			
) U ) A WHERE RN BETWEEN #{start} and #{end}a
</select> 

<!-- 관리자 예약 검색 -->
<!-- <select id="getAdminReservation" resultType="reservation" parameterType="adminSearch">
SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
	SELECT * FROM RESERVATION
	<where>
	</where>			
) U ) A WHERE RN BETWEEN #{start} and #{end}a
</select>-->

<!-- 관리자 캐스트 검색 -->
<select id="getAdminReservation" resultType="reservation" parameterType="adminSearch">
SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
	SELECT * FROM TOUR
	<where>
		<choose>
			<when test="searchCondition == 'name'">
				tour_name = #{searchKeyword} 
			</when>
			<when test="searchCondition == 'title'">
				tour_title = #{searchKeyword} 
			</when>
			<when test="searchCondition == 'location'">
				tour_location = #{searchKeyword} 
			</when>
			<otherwise>
				tour_state = #{searchKeyword}
			</otherwise>
		</choose>
	</where>			
) U ) A WHERE RN BETWEEN #{start} and #{end}a
</select>
</mapper> 