<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailCast">
    <select id="getDetailCast" resultType="cast" parameterType="cast">
        select tour.*,
        <if test="memberNo != null">
            (select count(*) from TOUR_LIKE
        where MEMBER_NO = #{memberNo} and  TOUR_ID = #{tourId}) likeYN ,
        </if>
          (select count(*) from TOUR_LIKE
        where TOUR_ID = #{tourId}) totalLike from TOUR where TOUR_ID = #{tourId}
    </select>

    <insert id="detailCastInsert" parameterType="cast">
        insert into TOUR_LIKE
        values (sysdate, #{memberNo},#{tourId}, 1)
    </insert>

    <delete id="detailCastDelete" parameterType="cast">
        delete from TOUR_LIKE where MEMBER_NO=#{memberNo} and TOUR_ID=#{tourId}
    </delete>

    <select id="detailCastPostList" resultType="cast" parameterType="cast">
        <![CDATA[
        select X.rnum, X.COMMENT_CONTENT, X.COMMENT_DATE,
            (select MEMBER_NICK from MEMBER where X.MEMBER_NO = MEMBER_NO) CMEMBER_NICK
        from
            (select rownum as rnum, A.COMMENT_NO, A.MEMBER_NO, A.TOUR_ID, A.COMMENT_CONTENT, A.COMMENT_DATE
             from (select COMMENT_NO,MEMBER_NO, TOUR_ID, COMMENT_CONTENT, COMMENT_DATE
                   from COMMENTS  where TOUR_ID=#{tourId}
                   order by COMMENT_NO desc) A
             where rownum <= ${end}) X join MEMBER M
                on X.MEMBER_NO = M.MEMBER_NO
        where X.rnum >= ${start}
        ]]>
    </select>

    <select id="detailCastPostPage" resultType="cast">
        select count(*) total_count from COMMENTS where TOUR_ID=#{tourId}
    </select>

    <insert id="detailCastPostInput" parameterType="cast">
        insert into COMMENTS values
            (COMMENT_SEQ.nextval, #{memberNo}, #{tourId}, #{commentContent}, sysdate)
    </insert>
</mapper>

<!--
        SELECT 1 rnum, c.COMMENT_CONTENT, c.COMMENT_DATE,
        (select MEMBER_NICK from MEMBER where c.MEMBER_NO = MEMBER_NO) CMEMBER_NICK
        FROM COMMENTS c JOIN MEMBER m
        on c.MEMBER_NO = m.MEMBER_NO
        where c.TOUR_ID = #{tourId}
        order by c.COMMENT_NO desc-->
