<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailCast">
    <select id="getDetailCast" resultType="cast" parameterType="cast">
        select tour.*,(select count(*) from TOUR_LIKE
        where MEMBER_NO = #{memberNo} and  TOUR_ID = #{tourId}) likeYN from TOUR where TOUR_ID = #{tourId}
    </select>

    <insert id="detailCastInsert" parameterType="cast">
        insert into TOUR_LIKE
        values (sysdate, 'MEM1',#{tourId}, 1);
    </insert>
</mapper> 