<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host">

	<!-- 전체 조회 -->
	<select id="getHosts" resultType="host" parameterType="hostSearch">
	SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
		SELECT HOST_ID
			   ,HOST_EMAIL
			   ,HOST_PHONE
			   ,HOST_NAME
			   ,ADDRESS
			   ,BUSINESS_NO
			   ,TO_CHAR(SIGNUP_DATE, 'YYYY-MM-DD') AS SIGNUP_DATE
			   ,LODGMENT_STATE
			   ,LODGMENT_NO
			FROM LODGMENT
		<where>
			<if test="lodgmentState != null and lodgmentState != ''">
				LODGMENT_STATE = #{lodgmentState}
			</if>  
			<if test="searchCondition == 'hostName'">
				AND HOST_NAME LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'company'">
				AND COMPANY LIKE '%' || #{searchKeyword} || '%'		
			</if>
			<if test="searchCondition == 'businessNo'">
				AND BUSINESS_NO LIKE '%' || #{searchKeyword} || '%'
			</if>
		</where>
		ORDER BY SIGNUP_DATE DESC
	
	) U ) A WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<!-- 페이징 처리에 필요. 검색 조건에 대한 Cnt 조회 -->
	<select id="getCnt" resultType="int" parameterType="hostSearch">
		SELECT COUNT(*)
			FROM LODGMENT
		<where>
			<if test="ids != null">
				HOST_ID IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			
			<if test="lodgmentState != null and lodgmentState != ''">
				LODGMENT_STATE = #{lodgmentState}
			</if>  
			<if test="searchCondition == 'id'">
				AND HOST_ID LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'name'">
				AND COMPANY LIKE '%' || #{searchKeyword} || '%'		
			</if>
		</where>
	</select>
	
	<!-- 단건 조회 -->
	<select id="getHost" parameterType="host" resultType="host">
		SELECT * FROM LODGMENT
			WHERE HOST_ID = #{hostId}
	</select>
	
	<!-- 사장님 회원 가입 등록 -->
	<insert id="insertHost" parameterType="host">
		INSERT INTO LODGMENT     
 	    (	
 	    	LODGMENT_NO, HOST_ID, 
 	     	HOST_EMAIL, HOST_PW, 
 	     	HOST_PHONE, ADDRESS, 
 	     	BUSINESS_NO, HOST_NAME, 
 	     	LOCATION, SIGNUP_DATE
 	     ) 
		
		VALUES 
		(
			CONCAT('LOD',TO_CHAR(lodgment_seq.nextval)),#{hostId}, 
		 	#{hostEmail}, #{hostPw}, 
		 	#{hostPhone}, #{address}, 
		 	#{businessNo}, #{hostName}, 
		 	#{location}, sysdate
		)
	</insert> 
	
	<select id="getMainSearch" parameterType="lodgment" resultType="lodgment">
		  SELECT l.COMPANY, g.AVG_GRADE, g.people_cnt
	      FROM LODGMENT l  LEFT OUTER JOIN (SELECT ROUND(AVG(GRADE),-1) AS AVG_GRADE ,COUNT(*) AS people_cnt, LODGMENT_NO
	                                        FROM POSTSCRIPT
	                                        GROUP BY LODGMENT_NO) g
	      ON l.LODGMENT_NO = G.LODGMENT_NO 
	      AND l.LOCATION = #{location}
	      AND l.LODGMENT_TYPE = #{lodgmentType}
	</select>
	
	<update id="approveHost" parameterType="hostSearch">
		UPDATE LODGMENT
		SET LODGMENT_STATE = 'B1'			
		WHERE LODGMENT_NO = #{lodgmentNo}
	</update>
	
	<update id="unapproveHost" parameterType="hostSearch">
		UPDATE LODGMENT
		SET LODGMENT_STATE = 'B2'			
		WHERE LODGMENT_NO = #{lodgmentNo}
	</update>	 
	

	<!-- 삭제 -->
	<delete id="deleteHost" parameterType="host">
		DELETE FROM LODGMENT WHERE HOST_ID = #{hostId}
	</delete>
</mapper> 