<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lodgment">
	<!-- 페이징 처리에 필요. 검색 조건에 대한 Cnt 조회 -->

<select id="getMainSearch" parameterType="lodgment" resultType="lodgment">
	  SELECT l.COMPANY, g.AVG_GRADE, g.people_cnt
      FROM LODGMENT l  LEFT OUTER JOIN (SELECT ROUND(AVG(GRADE),-1) AS AVG_GRADE ,COUNT(*) AS people_cnt, LODGMENT_NO
                                        FROM POSTSCRIPT
                                        GROUP BY LODGMENT_NO) g
      ON l.LODGMENT_NO = G.LODGMENT_NO 
      AND l.LOCATION = #{location}
      AND l.LODGMENT_TYPE = #{lodgmentType}
</select>

<update id="setLodgment" parameterType="lodgment">
	UPDATE LODGMENT
	SET COMPANY 	 	= #{company},
		LODGMENT_TYPE 	= #{lodgmentType},
		LODGMENT_IMG	= #{lodgmentImg},
		LODGMENT_INFO 	= #{lodgmentInfo}
	WHERE LODGMENT_NO	= #{lodgmentNo}
</update>
	
	<!-- 수정 미완성-->
<!-- 	
	<update id="updateHost" parameterType="host">
		UPDATE LODGMENT SET PASSWORD = #{password},
						 NAME = #{name},
						 ROLE = #{role}
			WHERE ID = #{id}
	</update> -->
	
	<!-- 삭제 미완성 -->
	<delete id="deleteHost" parameterType="host">
		DELETE FROM LODGMENT WHERE ID = #{hostId}
	</delete>
	
</mapper> 