<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="management">
 
 	<select id="selectReservation" resultType="Management" parameterType="string">
             
        select * <!-- reservation.reserve_state, member.member_name, member.member_email -->
		from reservation, member, room, lodgment
		where reservation.member_no = member.member_no
		and room.lodgment_no = reservation.lodgment_no
		and lodgment.lodgment_no = room.lodgment_no
		and reservation.room_no = room.room_no
		and lodgment.lodgment_no = #{value}<!-- #{lodgmentNo}  지금은 값을 직접 LOD1로 지정해뒀으나 나중에 숙박업체 번호 lodgmentNo 변수로 받아와야됨-->
		order by reservation.reserve_date desc

    </select>

<!-- 체크박스 선택 뒤 예약자 삭제 시험중 
	<delete id="deleteReserve" parameterType="Management">
		DELETE FROM RESERVATION
		WHERE RESERVE_NO IN
			<foreach item="item" index="index" collection="reserNo" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
 -->
</mapper>


