<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="management">
 
 	<select id="selectReservation" resultType="Management" parameterType="string">
             
        select member_name, member_email, reserve_date, reserve_people, room_name, reserve_price, checkin, checkout,
		case re.reserve_state when 'D1' then '확인' else '미확인' end RESERVE_STATE
		from reservation re, member m, room r, lodgment lo
		where re.member_no = m.member_no 
		and r.lodgment_no = re.lodgment_no
		and lo.lodgment_no = r.lodgment_no
		and re.room_no = r.room_no
		and lo.lodgment_no = #{value}
		order by re.reserve_date desc
		
    </select>
    
  
<delete id="deleteReserve" parameterType="string">
	DELETE FROM RESERVATION
	WHERE RESERVE_NO IN 
		<foreach collection="array" item="item" index="index" separator="," open="(" close=")">
		    '${array[index]}'
		</foreach>
</delete>

</mapper>


