<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
	<!-- 단건 조회 -->
	
	<!-- 예약 등록(예약하기) -->
	<insert id="insertReservation" parameterType="reservation">
		INSERT INTO RESERVATION (
			RESERVE_NO
			, RESERVE_DATE
			, RESERVE_PRICE
			, RESERVE_PEOPLE
			, CHECKIN
			, CHECKOUT
			, LODGMENT_NO
			, ROOM_NO
			, MEMBER_NO
			, RESERVE_POINTS
			, DEDUCTION_POINT
		)
		VALUES (
			TO_CHAR(RESV_SEQ.NEXTVAL)
			, SYSDATE
			, #{reservePrice}
			, #{reservePeople}
			, #{checkin}
			, #{checkout}
			, #{lodgmentNo}
			, #{roomNo}
			, #{memberNo}
			, #{reservePoints}
 			, #{deductionPoint}
		)
	</insert>
	
	<!-- 전체 조회 -->
	<select id="getReservations" resultType="reservation" parameterType="reservationSearch">
	SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
		SELECT RESERVE_NO,
			   (SELECT MEMBER_NAME
			   		FROM MEMBER
			   		WHERE MEMBER.MEMBER_NO = RESERVATION.MEMBER_NO)
			   AS memberName,
			   (SELECT MEMBER_EMAIL
			   		FROM MEMBER
			   		WHERE MEMBER.MEMBER_NO = RESERVATION.MEMBER_NO)
			   AS memberEmail,
			   ROOM_NO, RESERVE_DATE, RESERVE_PRICE, RESERVE_PEOPLE,
			   CHECKIN, CHECKOUT, RESERVE_STATE
		FROM RESERVATION
		<where>
			<if test="ids != null">
				RESERVE_NO IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'reserve_no'">
				AND RESERVE_NO LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'room_no'">
				AND ROOM_NO LIKE '%' || #{searchKeyword} || '%'		
			</if>
<!-- 			<if test="role != null and role != ''">
				AND ROLE = #{role}
			</if> -->
		</where>
		ORDER BY
		<choose>
			<when test="sort != null and sort != ''">
				#{sort}
			</when>
			<otherwise>
				RESERVE_NO
			</otherwise>
		</choose>
	) U ) A WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<!-- 페이징 처리에 필요. 검색 조건에 대한 Cnt 조회 -->
	<select id="getCnt" resultType="int" parameterType="reservationSearch">
		SELECT COUNT(*)
			FROM RESERVATION
		<where>
			<if test="ids != null">
				RESERVE_NO IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'reserve_no'">
				AND RESERVE_NO LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'room_no'">
				AND ROOM_NO LIKE '%' || #{searchKeyword} || '%'		
			</if>
		</where>
	</select>
	
	<select id="getReserveInfo" parameterType="string" resultType="map">
		SELECT R.ROOM_NAME AS "roomName",
			   R.ROOM_CAPA AS "roomCapa",
			   R.ROOM_PRICE AS "roomPrice",
			   R.ROOM_NO AS "roomNo",
			   L.COMPANY AS "company",
			   L.ADDRESS AS "address",
			   L.LODGMENT_NO AS "lodgmentNo"
			   			   
		FROM   ROOM R JOIN LODGMENT L
		ON	   R.LODGMENT_NO = L.LODGMENT_NO
		WHERE  R.ROOM_NO = #{value}			   
	</select>
	<!-- 수정 미완성-->
 	<!--<update id="updateHost" parameterType="host">
		UPDATE LODGMENT SET PASSWORD = #{password},
						 NAME = #{name},
						 ROLE = #{role}
			WHERE ID = #{id}
	</update>-->
	
	<!-- 삭제 -->
	<delete id="deleteReservation" parameterType="reservation">
		DELETE FROM RESERVATION WHERE RESERVE_NO = #{reserveNo}
	</delete>
	
	<select id="getLocation" resultType="string" parameterType="reservation">
		SELECT LOCATION FROM LODGMENT
		WHERE LODGMENT_NO = #{lodgmentNo}		
	</select>
	
</mapper> 