<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailRoom">

	<!-- 건수조회 추후 토탈 이미지로 들어갈 예정-->
	<select id="getDetailRoom" resultType="detailRoom" parameterType="detailRoom">
		SELECT * FROM ROOM
		WHERE ROOM_NO = #{roomNo}
	</select>

	<!-- 숙박 업체에 대한 전체 객실 리스트-->
	<select id="getDetailRooms" resultType="detailRoom" parameterType="lodgment">
        SELECT R.ROOM_PRICE, R.ROOM_CAPA, R.ROOM_INFO, R.ROOM_IMG, R.ROOM_NAME, R.ROOM_QUANTITY, L.LODGMENT_NO
		FROM LODGMENT L join ROOM R
            ON (L.LODGMENT_NO = R.LODGMENT_NO)
        WHERE R.LODGMENT_NO = #{lodgmentNo}
	</select>
    
    <!-- 숙박 업체에 대한 전체 후기 리스트 -->
    <select id="getDetailRoomPosts" resultType="roomPost" parameterType="lodgment">
        SELECT p.POSTSCRIPT_CONTENT, r.ROOM_NAME, l.LODGMENT_NO, m.member_nick, p.GRADE, p.POSTSCRIPT_NO
        FROM POSTSCRIPT p JOIN ROOM r
                 ON p.ROOM_NO = r.ROOM_NO
               JOIN LODGMENT l
                 ON p.LODGMENT_NO = l.LODGMENT_NO
                     JOIN MEMBER m
                     	ON p.MEMBER_NO = m.MEMBER_NO
                            AND l.LODGMENT_NO = #{lodgmentNo}
        order by p.POSTSCRIPT_NO desc
	</select>
	
	<!-- 숙박 업체별 후기 -->
    <select id="getDetailPost" resultType="roomPost" parameterType="roomPost">
        SELECT p.POSTSCRIPT_CONTENT, r.ROOM_NAME, l.LODGMENT_NO, m.MEMBER_NICK, p.GRADE, p.POSTSCRIPT_NO
        FROM POSTSCRIPT p JOIN ROOM r
                 ON p.ROOM_NO = r.ROOM_NO
               JOIN LODGMENT l
                 ON p.LODGMENT_NO = l.LODGMENT_NO
                     JOIN MEMBER m
                     	ON p.MEMBER_NO = m.MEMBER_NO
                            AND p.POSTSCRIPT_NO = #{postscriptNo}
        order by p.POSTSCRIPT_NO desc
    </select>
    
    <!--   숙박 업체에 대한 전체 후기 리스트 분할-->
    <select id="getPostscriptList" resultType="postscript" parameterType="lodgment">
        SELECT p.POSTSCRIPT_CONTENT, r.ROOM_NAME, l.LODGMENT_NO, m.MEMBER_NICK, p.GRADE, p.POSTSCRIPT_NO
        FROM POSTSCRIPT p JOIN ROOM r
                 ON p.ROOM_NO = r.ROOM_NO
               JOIN LODGMENT l
                 ON p.LODGMENT_NO = l.LODGMENT_NO
                     JOIN MEMBER m
                     	on p.MEMBER_NO = m.MEMBER_NO
                            AND l.LODGMENT_NO = #{lodgmentNo}
        ORDER BY p.POSTSCRIPT_NO DESC
    </select>
</mapper>