<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailRoom">

	<!-- 건수조회 추후 토탈 이미지로 들어갈 예정-->
	<select id="getDetailRoom" resultType="detailRoom" parameterType="detailRoom">
		SELECT * FROM ROOM
		WHERE ROOM_NO = #{roomNo}
	</select>

    <!-- 숙박 업체에 대한 전체 객실 이미지-->
    <select id="getAllimage" resultType="detailRoom" parameterType="lodgment">
        SELECT R.ROOM_IMG
        FROM LODGMENT L join ROOM R
                ON (L.LODGMENT_NO = R.LODGMENT_NO)
        WHERE R.LODGMENT_NO = #{lodgmentNo}
    </select>

    <!-- 숙박 업체에 대한 전체 객실 리스트-->
	<select id="getDetailRooms" resultType="detailRoom" parameterType="lodgmentSearch">
        SELECT R.ROOM_NO, R.ROOM_PRICE, R.ROOM_CAPA, R.ROOM_INFO, R.ROOM_IMG, R.ROOM_NAME, R.ROOM_QUANTITY, L.LODGMENT_NO, L.COMPANY, L.ADDRESS, L.HOST_PHONE
			   ,check_reserve_func(#{checkin}, #{checkout}, R.ROOM_NO) AS enable, L.LOCATION,case LODGMENT_TYPE when 'A1' then '모텔'
                                                                                             when 'A2' then '호텔'
                                                                                             when 'A3' then '펜션'
                                                                                             when 'A4' then '게스트하우스'
                                                                                             end LODGMENT_TYPE,
                                                                                             (select count(*) from RESERVATION where LODGMENT_NO = #{lodgmentNo} and MEMBER_NO = #{memberNo}) member_no
		FROM LODGMENT L join ROOM R
            ON (L.LODGMENT_NO = R.LODGMENT_NO)
        WHERE R.LODGMENT_NO = #{lodgmentNo}
	</select>
    
    <!-- 숙박 업체에 대한 전체 후기 리스트 -->
    <select id="getDetailRoomPosts" resultType="roomPost" parameterType="lodgment">
        SELECT p.POSTSCRIPT_CONTENT, r.ROOM_NAME, l.LODGMENT_NO, m.member_nick, p.GRADE, p.POSTSCRIPT_NO
        FROM POSTSCRIPT p JOIN ROOM r
                 ON p.ROOM_NO = r.ROOM_NO
               JOIN LODGMENT l
                 ON p.LODGMENT_NO = l.LODGMENT_NO
                     JOIN MEMBER m
                     	ON p.MEMBER_NO = m.MEMBER_NO
                            AND l.LODGMENT_NO = #{lodgmentNo}
        order by p.POSTSCRIPT_NO desc
	</select>
	
	<!-- 숙박 업체별 상세 후기 -->
    <select id="getDetailPost" resultType="roomPost" parameterType="roomPost">
        SELECT p.POSTSCRIPT_CONTENT, r.ROOM_NAME, l.LODGMENT_NO, m.MEMBER_NICK, p.GRADE, p.POSTSCRIPT_NO, p.POSTSCRIPT_TITLE, p.POSTSCRIPT_DATE
        FROM POSTSCRIPT p JOIN ROOM r
                 ON p.ROOM_NO = r.ROOM_NO
               JOIN LODGMENT l
                 ON p.LODGMENT_NO = l.LODGMENT_NO
                     JOIN MEMBER m
                     	ON p.MEMBER_NO = m.MEMBER_NO
                            AND p.POSTSCRIPT_NO = #{postscriptNo}
        order by p.POSTSCRIPT_NO desc
    </select>
    
    <!--   숙박 업체에 대한 전체 후기 리스트 분할-->
    <select id="getPostscriptList" resultType="postscript" parameterType="lodgment">
        SELECT p.POSTSCRIPT_CONTENT, r.ROOM_NAME, l.LODGMENT_NO, m.MEMBER_NICK, p.GRADE, p.POSTSCRIPT_NO, p.POSTSCRIPT_TITLE, p.POSTSCRIPT_DATE
        FROM POSTSCRIPT p JOIN ROOM r
                 ON p.ROOM_NO = r.ROOM_NO
               JOIN LODGMENT l
                 ON p.LODGMENT_NO = l.LODGMENT_NO
                     JOIN MEMBER m
                     	on p.MEMBER_NO = m.MEMBER_NO
                            AND l.LODGMENT_NO = #{lodgmentNo}
        ORDER BY p.POSTSCRIPT_NO DESC
    </select>
    
    <!-- 후기 등록 폼에 필요한 룸 리스트-->
    <select id="insertPostscriptForm" resultType="detailRoom" parameterType="lodgment">
          select R.ROOM_NO,R.ROOM_NAME
    from LODGMENT L join ROOM R
        on(L.LODGMENT_NO = R.LODGMENT_NO)
    where R.LODGMENT_NO = #{lodgmentNo}
    </select>

   <insert id="insertPostscript" parameterType="postscript">
        INSERT INTO POSTSCRIPT(
       POSTSCRIPT_NO
        , POSTSCRIPT_CONTENT
        , POSTSCRIPT_DATE
        , LODGMENT_NO
        , POSTSCRIPT_TITLE
        , ROOM_NO
        , MEMBER_NO
        , GRADE
        )
        VALUES(
        lpad(POSTSCRIPT_SEQ.NEXTVAL ,8,0)
        , #{postscriptContent}
        , SYSDATE
        , #{lodgmentNo}
        , #{postscriptTitle}
        , #{roomNo}
        , #{memberNo}
        , #{grade}
        )
    </insert>
</mapper>
     <!--/*order by 를 사용하기 위해서 문자로 변경*/
        /*to_char(POSTSCRIPT_SEQ.nextval)*/
        /*일단 7로 고정 추후에 session 값 받아와서 처리 할 예정*/-->