<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="room">

	<!-- 객실 등록 -->
	<insert id="insertRoom" parameterType="detailRoom">
		INSERT INTO room (	
			ROOM_NO, 	LODGMENT_NO, 
			ROOM_PRICE, ROOM_CAPA, 
			ROOM_IMG,   ROOM_INFO,
			ROOM_NAME, 	ROOM_QUANTITY,
			ROOM_STATE
		)
		VALUES (
			CONCAT('RO', TO_CHAR(ROOM_SEQ.nextval)), '1', 
			#{roomPrice}, #{roomCapa},
			#{roomImg},	#{roomInfo},
			#{roomName}, #{roomQuantity},
			'B3'		
		)
	</insert>
	
	<resultMap id="eachRooms" type="detailRoom">
		<id property="roomNo" column="ROOM_NO" />
		<result property="company" column="COMPANY" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="roomQuantity" column="ROOM_QUANTITY" />
		<result property="roomPrice" column="ROOM_PRICE" />
		<result property="roomCapa" column="ROOM_CAPA" />
	</resultMap>
	
	<!-- 숙소별 객실 조회 -->
	<select id="getEachRooms" parameterType="roomSearch" resultMap="eachRooms">
		SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
			SELECT R.LODGMENT_NO, L.COMPANY AS "company", R.ROOM_NO, R.ROOM_NAME, R.ROOM_QUANTITY, R.ROOM_PRICE, R.ROOM_CAPA
			FROM ROOM R JOIN LODGMENT L
			ON L.LODGMENT_NO = R.LODGMENT_NO
		<where>
			R.LODGMENT_NO = #{lodgmentNo}
			<if test="ids != null">
				ROOM_NO IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'room_no'">
				AND ROOM_NO LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'room_name'">
				AND ROOM_NAME LIKE '%' || #{searchKeyword} || '%'		
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="sort != null and sort != ''">
				#{sort}
			</when>
			<otherwise>
				ROOM_NO
			</otherwise>
		</choose>
	) U ) A WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<!-- 전체 조회 -->
	<select id="getRooms" resultType="detailRoom" parameterType="roomSearch">
		SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
			SELECT ROOM_NO, ROOM_NAME, ROOM_QUANTITY, ROOM_PRICE, ROOM_CAPA
			FROM ROOM
		<where>
			<if test="ids != null">
				ROOM_NO IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'room_no'">
				AND ROOM_NO LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'room_name'">
				AND ROOM_NAME LIKE '%' || #{searchKeyword} || '%'		
			</if>
<!-- 			<if test="role != null and role != ''">
				AND ROLE = #{role}
			</if> -->
		</where>
		ORDER BY
		<choose>
			<when test="sort != null and sort != ''">
				#{sort}
			</when>
			<otherwise>
				ROOM_NO
			</otherwise>
		</choose>
	) U ) A WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<!-- 페이징 처리에 필요. 검색 조건에 대한 Cnt 조회 -->
	<select id="getCnt" resultType="int" parameterType="roomSearch">
		SELECT COUNT(*)
			FROM ROOM
		<where>
			<if test="ids != null">
				ROOM_NO IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'room_no'">
				AND ROOM_NO LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'room_name'">
				AND ROOM_NAME LIKE '%' || #{searchKeyword} || '%'		
			</if>
		</where>
	</select>
</mapper> 