<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tour">

<!-- 전체 조회 -->
<select id="getTours" resultType="tour">
SELECT * FROM ( SELECT T.*, ROWNUM RN FROM (	
	SELECT * FROM TOUR
	 <where>
	 	<if test="tourId != null and tourId != ''">
		  <![CDATA[
		   	TOUR_ID > #{tourId}
		  ]]>
		 </if>
	 </where>
	 ORDER BY TOUR_DATE
) T ) A 
	<choose>
		<when test="pageUnit != 0">
		 <![CDATA[	
			WHERE RN  <= #{pageUnit}
		]]>	
		</when>
		<otherwise>
		 <![CDATA[	
			WHERE RN <= 8
		]]>	
		</otherwise>
	</choose>
</select>

<insert id="insertTour" parameterType="tour">
	INSERT INTO TOUR
	(
		TOUR_ID, 
		TOUR_TITLE, 
		TOUR_IMG,
		TOUR_DATE
	)	
	VALUES
	(
		CONCAT('TO',TO_CHAR(TOUR_SEQ.nextval)), 
		#{tourTitle},
		#{tourImg},
		SYSDATE
	)	
</insert>
</mapper> 