<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tour">

<!-- 전체 조회 -->
<select id="getTours" resultType="tour">
SELECT * FROM ( SELECT T.*, ROWNUM RN FROM (	
	SELECT * FROM TOUR

) T ) A WHERE RN BETWEEN #{start} and #{end}	
</select>

<insert id="insertTour" parameterType="tour">
	INSERT INTO TOUR
	(
		TOUR_ID, 
		TOUR_TITLE, 
		TOUR_IMG,
		TOUR_DATE
	)	
	VALUES
	(
		CONCAT('TO',TO_CHAR(TOUR_SEQ.nextval)), 
		#{tourTitle},
		#{tourImg},
		SYSDATE
	)	
</insert>
</mapper> 